<div class="placeholder-message">
  <i class="fas fa-tools"></i>
  <h4><%= (selectedTypeMeta && selectedTypeMeta.label) || 'Loại NCKH' %></h4>
  <p class="mb-0">Loại NCKH này chưa được triển khai ở giai đoạn hiện tại.</p>
</div>