<script>
  window.APP_ROLES = <% - JSON.stringify(APP_ROLES) %>;
  window.APP_DEPARTMENTS = <% - JSON.stringify(APP_DEPARTMENTS) %>;
  var APP_ROLES = window.APP_ROLES;
  var APP_DEPARTMENTS = window.APP_DEPARTMENTS;
</script>

<header>

  <nav class="navbar-top ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="Logo">
        <div class="navbar-title">
          <img src="/dongchu_banner.png" alt="banner">
        </div>
      </a>
    </div>
  </nav>

  <!-- Phần dưới của navbar chứa các mục nằm ngang -->

  <nav class="navbar navbar-expand-lg navbar-bottom">
    <div class="" style="width: 100%;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
        <div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/admin"><i class="bi bi-house"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="ThongTinTK" href="/thongTinTK">Tài Khoản </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="NhanVien" href="/nhanVien">Nhân Viên </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHocPhan" data-bs-toggle="dropdown"
                aria-expanded="false">Phòng Ban</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownHocPhan">
                <a class="nav-link" id="ChuyenKhoa" href="/api/admin/getChuyenKhoaSite">Chuyển khoa</a>
                <a class="nav-link" id="PhongBan" href="/phongBan">Phòng Ban </a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="BoMon" href="/boMon">Bộ Môn </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-center" id="NamHoc" href="/namHoc" style="width: fit-content;">Năm học</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHocPhan" data-bs-toggle="dropdown"
                aria-expanded="false">Viết tắt</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownHocPhan">
                <a class="nav-link " id="KyTuBD" href="/kytubatdau">Hệ đào tạo</a>
                <a class="nav-link" id="" href="/api/v1/admin/kytu-bat-dau-khoa">Khoa</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHocPhan" data-bs-toggle="dropdown"
                aria-expanded="false">Học phần</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownHocPhan">
                <a class="nav-link" id="HocPhan" href="/hocphan">Học phần</a>
                <a class="nav-link" id="" href="/getThemFileHocPhan">Thêm file học phần</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="TienLuong" href="/tienluong">Tiền Mời Giảng</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHocPhan" data-bs-toggle="dropdown"
                aria-expanded="false">Số tiết định mức</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownHocPhan">
                <a class="nav-link" id="HocPhan" href="/sotietDM">Số tiết định mức</a>
                <a class="nav-link" id="" href="/phanTramMienGiam">Phần trăm miễn giảm</a>
                <a class="nav-link" id="" href="/api/v1/admin/he-so-lop-dong">Hệ số lớp đông</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="" href="/quydinhsogionckh">Số tiết NCKH</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="" href="/dotdoan">Đợt đồ án</a>
            </li> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHocPhan" data-bs-toggle="dropdown"
                aria-expanded="false">Phòng học</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownHocPhan">
                <a class="nav-link" id="HocPhan" href="/adminPhongHoc">Phòng học</a>
                <a class="nav-link" id="" href="/toaNha">Tòa nhà</a>
              </div>
            </li>
          </ul>
        </div>

        <div class="navbar-nav">
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
              aria-expanded="false">
              Hi, ADMIN
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
              style="right: 0; left: auto; z-index: 1000;">
              <a class="dropdown-item" id="changePasswordLink">Đổi mật khẩu</a>
              <a class="dropdown-item" href="/sync">🔄 Đồng bộ dữ liệu</a>
              <a class="dropdown-item" id="backup-btn" href="/backup">Backup dữ liệu</a>
              <a class="dropdown-item" id="backup-btn" href="/uploadBackup">Tải lên csdl</a>
              <a class="dropdown-item" href="/">Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>
  </nav>
</header>


<script>
  document.getElementById("changePasswordLink").addEventListener("click", function (event) {
    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
    const tenDangNhap = localStorage.getItem("TenDangNhap"); // Lấy TenDangNhap từ localStorage

    if (tenDangNhap) {
      // Chuyển hướng đến trang changePassword và truyền TenDangNhap trong URL
      window.location.href = `/changePassword?tenDangNhap=${encodeURIComponent(tenDangNhap)}`;
    } else {
      alert("Không tìm thấy TenDangNhap trong localStorage.");
    }
  });

  // Hàm xử lý trạng thái active
  document.addEventListener("DOMContentLoaded", function () {


    // Lấy đường dẫn hiện tại
    const currentPath = window.location.pathname;

    // Lấy tất cả các liên kết trong navbar
    const navLinks = document.querySelectorAll(".navbar-nav .nav-link");

    // Xử lý active cho liên kết trong navbar
    navLinks.forEach((link) => {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("active");
      }
    });
  });

</script>

</body>

</html>