<style>
  .badge {
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 5px 8px;
    border-radius: 50%;
    margin-left: 5px;
    top: -5px;
    /* Đưa badge lên cao */
    right: -5px;
    /* Đưa badge sang phải */
    display: none;
    /* Ẩn mặc định */
  }
</style>

<header>
  <nav class="navbar-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="Logo" />
        <div class="navbar-title">
          <img src="/dongchu_banner.png" alt="banner" />
        </div>
      </a>
    </div>
  </nav>

  <!-- Phần dưới của navbar chứa các mục nằm ngang -->
  <nav class="navbar navbar-expand-lg navbar-bottom sticky-top">
    <div class="" style="width: 100%">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" style="width: 100%" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="Home" href=""
              ><i class="fa-solid fa-house"></i
            ></a>
          </li>
          <!--  -->
          <div class="navbar-nav" id="tkb-nav">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href=""
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Thời khóa biểu
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a
                  class="nav-link"
                  id="add-new-tkb"
                  style="display: none"
                  href="/getImportTKBSite"
                  >Thêm thời khóa biểu</a
                >
                <a class="nav-link" id="main-tkb" href="/getTKBChinhThucSite"
                  >Thời khóa biểu chính thức</a
                >
              </div>
            </div>
          </div>
          <!--  -->
          <div class="navbar-nav" id="nav-gvm">
            <!-- <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Giảng Viên Mời
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link" href="/gvmList">Danh sách giảng viên mời</a>
                <a
                  class="nav-link"
                  id="addNewFileGvm"
                  href="/importGvmList"
                  style="width: 100%"
                  >Thêm giảng viên mời bằng file</a
                >
                <a class="nav-link" href="/api/gvm/waiting-list/render"
                  >Danh sách chờ duyệt</a
                >
              </div>
            </div> -->
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Giảng Viên Mời
                <span id="gvm-badge" class="badge">0</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link" href="/gvmList">Danh sách giảng viên mời</a>
                <a class="nav-link" id="addNewFileGvm" href="/importGvmList"
                  >Thêm giảng viên mời bằng file</a
                >
                <a class="nav-link" href="/api/gvm/waiting-list/render">
                  Danh sách chờ duyệt
                  <span id="waiting-list-badge" class="badge">0</span>
                </a>
                <a class="nav-link" href="/api/gvm/checked-list/render">
                  Danh sách đã duyệt
                </a>
                <a class="nav-link" href="/api/gvm/stopped-teaching-list/site">
                  Danh sách đã ngừng giảng dạy
                </a>
              </div>
            </div>
          </div>
          <div class="navbar-nav" id="nav-quychuan">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Bảng Quy Chuẩn
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-submenu" style="width: 100%">
                  <a
                    class="nav-link dropdown-toggle themFile"
                    style="display: none"
                    href="#"
                    id="navbarDropdownTeaching"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >Thêm file</a
                  >
                  <div
                    class="dropdown-menu1"
                    aria-labelledby="navbarDropdownTeaching"
                  >
                    <a
                      class="nav-link"
                      href="/import"
                      id="addNewFileQCDK"
                      style="width: 100%"
                      >Thêm file quy chuẩn dự kiến</a
                    >
                    <a class="nav-link" id="" href="/importDoAn"
                      >Thêm file ĐATN chính thức</a
                    >
                  </div>
                </div>
                <div class="dropdown-submenu" style="width: 100%">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownTeaching"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >Bảng quy chuẩn dự kiến</a
                  >
                  <div
                    class="dropdown-menu1"
                    aria-labelledby="navbarDropdownTeaching"
                  >
                    <a class="nav-link" href="/tableTam"
                      >Bảng quy chuẩn dự kiến</a
                    >
                    <!-- <a class="nav-link" id="" href="/getVuotGioDoAnDuKienSite"
                      >Bảng ĐATN dự kiến</a
                    > -->
                  </div>
                </div>
                <div class="dropdown-submenu" style="width: 100%">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownTeaching"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >Bảng quy chuẩn chính thức</a
                  >
                  <div
                    class="dropdown-menu1"
                    aria-labelledby="navbarDropdownTeaching"
                  >
                    <a class="nav-link" href="/tableQC"
                      >Bảng quy chuẩn chính thức</a
                    >
                    <a class="nav-link" href="/doAnChinhThuc"
                      >Bảng ĐATN chính thức</a
                    >
                  </div>
                </div>
                <div class="dropdown-submenu" style="width: 100%">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownTeaching"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >Thông tin giảng viên theo lớp</a
                  >
                  <div
                    class="dropdown-menu1"
                    aria-labelledby="navbarDropdownTeaching"
                  >
                    <a class="nav-link" id="ThongTinGD" href="#"
                      >Thông tin giảng viên theo lớp</a
                    >
                    <a class="nav-link" id="" href="/thongTinDoAnTotNghiep"
                      >Thông tin đồ án tốt nghiệp</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="navbar-nav" id="nav-moigiang">
            <div class="nav-item dropdown" style="width: max-content">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Mời Giảng
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link" href="/xemCacLopGvm">Xem các lớp mời</a>
                <a class="nav-link text-nowrap" href="/classInfoGvm"
                  >Thống kê lớp mời theo giảng viên</a
                >
                <a class="nav-link" href="/hopDongDuKien" role="button"
                  >Hợp đồng dự kiến</a
                >

                <a class="nav-link" href="/infoHDGvm" role="button"
                  >Thông tin hợp đồng</a
                >
                <a class="nav-link" href="/phuLucHD">Phụ lục hợp đồng</a>
                <a class="nav-link" href="/exportHD">Hợp Đồng</a>
                <a
                  class="nav-link"
                  href="/api/moi-giang/hd-gvm/img-download-site"
                  >Phụ lục minh chứng giảng viên mời</a
                >
                <a class="nav-link" href="/api/hd-gvm/additional-file-site"
                  >Tải tổng hợp hợp đồng</a
                >
                <a
                  class="nav-link"
                  style="display: none"
                  id="suaHD"
                  href="/suaHD"
                  >Sửa Thông Tin Hợp Đồng</a
                >
                <a class="nav-link" href="/tongHopGvmExport">Tổng hợp</a>
              </div>
            </div>
          </div>
          <div class="navbar-nav" id="nav-vuotgio">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Vượt Giờ
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link" id="" href="/infoclassvuotgio"
                  >Thông tin lớp vượt giờ của tôi</a
                >
                <a class="nav-link" href="/addclass">Thêm lớp giảng dạy</a>
                <a class="nav-link" id="" href="/addclassgiuaky"
                  >Thêm lớp kiểm tra giữa kỳ</a
                >
                <a class="nav-link" id="actionButton3" href="/duyetgk"
                  >Duyệt các lớp giữa kì</a
                >
                <a class="nav-link" id="" href="/infovuotgio"
                  >Thông tin vượt giờ và NCKH</a
                >
                <a class="nav-link" id="" href="/vuotGioExport"
                  >Xuất thông tin vượt giờ và NCKH </a
                >
              </div>
            </div>
          </div>
          <div class="navbar-nav" id="nav-nckh">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Nghiên Cứu Khoa Học
              </a>
              <div
                id="nckhNav"
                class="dropdown-menu"
                aria-labelledby="dropdownMenuButton"
              >
                <a class="nav-link" href="/detaiduan">Đề tài và dự án</a>
                <a class="nav-link" href="/baibaokhoahoc">Bài báo khoa học</a>
                <a class="nav-link" id="" href="/bangsangchevagiaithuong"
                  >Bằng sáng chế và giải thưởng trong năm</a
                >
                <a class="nav-link" id="" href="/nckhvahuanluyendoituyen"
                  >NCKH và Huấn luyện đội tuyển</a
                >

                <a class="nav-link" id="" href="/sachvagiaotrinh"
                  >Sách và giáo trình xuất bản trong nước</a
                >
                <a class="nav-link" id="" href="/xaydungctdt"
                  >Xây dựng chương trình đào tạo</a
                >
                <a class="nav-link" id="" href="/biensoangiaotrinhbaigiang"
                  >Biên soạn giáo trình, bài giảng</a
                >
                <a class="nav-link" id="" href="/nhiemvukhoahoccongnghe"
                  >Nhiệm vụ khoa học công nghệ</a
                >
                <a class="nav-link" id="" href="/tonghopsotietnckh"
                >Tổng hợp số tiết NCKH</a
              >
              </div>
            </div>
          </div>
          <div class="navbar-nav" id="nav-doan">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Đồ Án
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link" id="" href="/doAnHopDongDuKienSite"
                  >Hợp đồng ĐATN dự kiến</a
                >
                <a class="nav-link" id="" href="/exportPhuLucDA"
                  >Phụ lục ĐATN</a
                >
                <a class="nav-link" id="" href="/hopDongDA">Hợp đồng ĐATN</a>
                <a
                  class="nav-link"
                  href="/api/do-an/hd-gvm/bosung-download-file"
                  >Phụ lục minh chứng giảng viên mời</a
                >
                <a
                  class="nav-link"
                  href="/api/do-an/hd-gvm/additional-file-site"
                  >Tải tổng hợp hợp đồng</a
                >
              </div>
            </div>
          </div>

          <div class="navbar-nav" id="nav-thongke">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Thống Kê
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownTeaching"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >Giảng Dạy</a
                  >
                  <div
                    class="dropdown-menu1"
                    aria-labelledby="navbarDropdownTeaching"
                  >
                    <a class="nav-link dropdown-item1" href="/ThongkeMG"
                      >Mời Giảng</a
                    >
                    <a class="nav-link dropdown-item1" href="/thongkevuotgio"
                      >Vượt Giờ</a
                    >
                    <a class="nav-link dropdown-item1" href="/thongketonghop"
                      >Tổng hợp</a
                    >
                  </div>
                </div>
                <div class="dropdown-submenu">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdownTeaching"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >Thống kê chi tiết</a
                  >
                  <div
                    class="dropdown-menu1"
                    aria-labelledby="navbarDropdownTeaching"
                  >
                    <a class="nav-link dropdown-item" href="/thongkeChiTietMG"
                      >Chi tiết mời giảng</a
                    >
                    <a class="nav-link" id="" href="/tonghopsotietnckh"
                  >Tổng hợp số tiết NCKH</a
                >
                <a class="nav-link" id="" href="/infovuotgio"
                  >Thông tin vượt giờ và NCKH</a
                >
                  </div>
                </div>
                <a class="nav-link" id="" href="/thongkedoan">Đồ Án</a>
                <a class="nav-link" id="" href="/thongkenckh"
                  >Nghiên cứu khoa học</a
                >
              </div>
            </div>
          </div>

          <div class="navbar-nav" id="nav-hethong">
            <div class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/login"
                id="navbarDropdownUser"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Hệ Thống
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="nav-link" id="" href="/log">Xem File Log</a>
                <a class="nav-link" href="/phonghoc">Phòng học</a>
              </div>
            </div>
          </div>
        </ul>
        <div class="navbar-nav">
          <div class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle fullname"
              href="/login"
              id="navbarDropdownUser"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Lỗi Server, Vui lòng đăng nhập lại!
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" id="infome">Thông tin cá nhân</a>
              <a class="dropdown-item" id="changePasswordLink">Đổi mật khẩu</a>
              <a class="dropdown-item" id="changeMessage">Thêm thông báo</a>
              <a class="dropdown-item" id="backup-btn" href="/backup"
                >Backup dữ liệu</a
              >
              <a class="dropdown-item" href="/">Đăng xuất</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const isKhoa = localStorage.getItem("isKhoa");

    // Thêm sự kiện cho phần tử có id="ThongTinGD"
    const ThongTinGD = document.getElementById("ThongTinGD");
    // Thêm sự kiện cho phần tử có id="Home"
    const Home = document.getElementById("Home");

    if (isKhoa == 0) {
      ThongTinGD.href = "/info2";
      Home.href = "/maindt";
    } else if (isKhoa == 1) {
      ThongTinGD.href = "/info";
      Home.href = "/mainkhoa";
    }
  });

  // Hàm xử lý trạng thái active
  document.addEventListener("DOMContentLoaded", function () {
    // Lấy đường dẫn hiện tại
    const currentPath = window.location.pathname;

    // Lấy tất cả các liên kết trong navbar
    const navLinks = document.querySelectorAll(".navbar-nav .nav-link");

    // Xử lý active cho liên kết trong navbar
    navLinks.forEach((link) => {
      if (link.getAttribute("href") === currentPath) {
        link.classList.add("active");
      }
    });

    // Xử lý dropdown: nếu một liên kết bên trong dropdown được active, dropdown đó cũng được active
    const dropdowns = document.querySelectorAll(".nav-item.dropdown");
    dropdowns.forEach((dropdown) => {
      const activeLink = dropdown.querySelector(".nav-link.active");
      if (activeLink) {
        const parentToggle = dropdown.querySelector(".dropdown-toggle");
        if (parentToggle) {
          parentToggle.classList.add("active");
        }
      }
    });

    // Xử lý dropdown con: nếu liên kết con được active, dropdown cha của nó cũng phải active
    const subDropdowns = document.querySelectorAll(".dropdown-submenu");
    subDropdowns.forEach((submenu) => {
      const activeSubLink = submenu.querySelector(".nav-link.active");
      if (activeSubLink) {
        const parentToggle = submenu.querySelector(".dropdown-toggle");
        if (parentToggle) {
          parentToggle.classList.add("active");
        }
      }
    });
  });

  // Phần phân quyền
  document.addEventListener("DOMContentLoaded", function () {
    const isKhoa = localStorage.getItem("isKhoa");
    const role = localStorage.getItem("userRole");
    const MaPhongBan = localStorage.getItem("MaPhongBan");

    if (isKhoa === null) {
      console.log("Không tìm thấy giá trị isKhoa trong localStorage");
    } else {
      const addNewFileGvm = document.getElementById("addNewFileGvm");
      const actionButton3 = document.getElementById("actionButton3");
      const actionButtonBackup = document.getElementById("backup-btn");

      if (isKhoa === "0" || role === "GV") {
        addNewFileGvm.style.display = "none"; // Ẩn addNewFileGvm nếu isKhoa = 0
      }

      // Ẩn button import đồ án
      const themFile = document.querySelector(".themFile");
      const suaHD = document.getElementById("suaHD");
      //const tkb = document.getElementById("tkb-nav");
      const addNewTKB = document.getElementById("add-new-tkb");

      // Chỉ đào tạo (duyệt) được quyền thao tác với thêm TKB, thêm file và sửa hợp đồng
      if (role == "Duyệt" && MaPhongBan == "DAOTAO") {
        themFile.style.display = "block";
        suaHD.style.display = "block";
        addNewTKB.style.display = "block";
      }

      if (
        role === "Lãnh đạo khoa" ||
        (MaPhongBan === "DAOTAO" && role === "Duyệt")
      ) {
        actionButton3.style.display = "";
      } else {
        actionButton3.style.display = "none";
      }
      if (MaPhongBan === "DAOTAO" && role === "Duyệt") {
        actionButtonBackup.style.display = "";
      } else {
        actionButtonBackup.style.display = "none";
      }
    }
    const TenNhanVien = localStorage.getItem("TenNhanVien"); // Lấy tên người dùng từ localStorage
    let Role = role;
    if (Role.toUpperCase() == "LÃNH ĐẠO KHOA") {
      Role = "LĐK";
    }
    if (TenNhanVien) {
      // Hiển thị tên người dùng trên phần tử HTML
      document.querySelector(
        ".fullname"
      ).innerText = `${TenNhanVien} - ${Role}`;
    }

    // Ẩn thêm thông báo nếu không phải đào tạo hoặc tài chính
    const actionButton = document.getElementById("changeMessage");
    //Ẩn site thêm thông báo
    if (role === "Duyệt") {
      actionButton.style.display = "";
    } else {
      actionButton.style.display = "none";
    }
  });
  // Phần thêm tên người dùng
</script>

<!-- phân quyền nckh -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let maPhongBan = localStorage.getItem("MaPhongBan");
    let userRole = localStorage.getItem("userRole");
    let isKhoa = localStorage.getItem("isKhoa");

    // phần này cho các thẻ to
    let gvmNav = document.getElementById("nav-gvm");
    let quychuanNav = document.getElementById("nav-quychuan");
    let moigiangNav = document.getElementById("nav-moigiang");
    let vuotgioNav = document.getElementById("nav-vuotgio");
    let doanNav = document.getElementById("nav-doan");
    let tkbNav = document.getElementById("tkb-nav");
    let nckhNav = document.getElementById("nav-nckh");
    let navLink_addFileQC = document.getElementById("nav-link-add-file-qc");

    // phần này cho các thẻ links
    let nckhNavChild = document.getElementById("nckhNav");
    let links = nckhNavChild.getElementsByClassName("nav-link");

    // nckh xem 4 mục đầu, đào tạo 5 mục sau, giáo vụ thi hành all, lãnh đạo khoa all
    // link8 là tổng hợp số tiết
    if (maPhongBan === "KHCN&HTPT" && userRole === "Duyệt") {
      // Chỉ hiển thị 4 mục đầu
      for (let i = 4; i < links.length; i++) {
        links[i].style.display = "none";
      }
      links[8].style.display = "block";
    } else if (maPhongBan === "DAOTAO" && userRole === "Duyệt") {
      // Chỉ hiển thị 5 mục cuối
      for (let i = 0; i < links.length - 5; i++) {
        links[i].style.display = "none";
      }
      links[8].style.display = "block";
    }

    // phòng nckh chỉ hiển thị nckh, log, thống kê
    // quyền thường, gv nhót
    if (maPhongBan === "KHCN&HTPT") {
      gvmNav.style.display = "none";
      quychuanNav.style.display = "none";
      moigiangNav.style.display = "none";
      vuotgioNav.style.display = "none";
      doanNav.style.display = "none";
      tkbNav.style.display = "none";
    }

    // else if (userRole == "GV" || userRole == "Thường") {
    //   nckhNav.style.display = "none";
    // }

    // Tài chính không hiển thị tkb, thêm file qc
    if (maPhongBan === "TAICHINH") {
      tkbNav.style.display = "none";
      navLink_addFileQC.style.display = "none";
    }
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", async () => {
    const cachedCount = localStorage.getItem("waiting_list_count");

    if (cachedCount) updateBadge(cachedCount);

    try {
      const response = await fetch("/api/gvm/waiting-list/unapproved");
      if (!response.ok) throw new Error("Lỗi khi lấy dữ liệu");

      const count = await response.json();

      localStorage.setItem("waiting_list_count", count);
      updateBadge(count);
    } catch (error) {
      console.error("Không thể cập nhật thông báo:", error);
    }
  });

  function updateBadge(count) {
    const gvmBadge = document.getElementById("gvm-badge");
    const waitingBadge = document.getElementById("waiting-list-badge");

    if (count > 0) {
      gvmBadge.textContent = count;
      gvmBadge.style.display = "inline-block";

      waitingBadge.textContent = count;
      waitingBadge.style.display = "inline-block";
    } else {
      gvmBadge.style.display = "none";
      waitingBadge.style.display = "none";
    }
  }
</script>

<script>
  document
    .getElementById("changePasswordLink")
    .addEventListener("click", function (event) {
      event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
      const tenDangNhap = localStorage.getItem("TenDangNhap"); // Lấy TenDangNhap từ localStorage

      if (tenDangNhap) {
        // Chuyển hướng đến trang changePassword và truyền TenDangNhap trong URL
        window.location.href = `/changePassword?tenDangNhap=${encodeURIComponent(
          tenDangNhap
        )}`;
      } else {
        alert("Không tìm thấy TenDangNhap trong localStorage.");
      }
    });
</script>
