<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Viện Kỹ Thuật Mật Mã</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/forminput.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="public/css/styles.css"> -->
    <style>
      input, select{
        color: #2c9caf !important;
      }
      th {
        white-space: nowrap;
      }

      .formcreate {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        position: relative;
      }

      .title {
        font-size: 28px;
        color: royalblue;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
      }

      .title::before,.title::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        left: 0px;
        background-color: royalblue;
      }

      .title::before {
        width: 18px;
        height: 18px;
        background-color: royalblue;
      }

      .title::after {
        width: 18px;
        height: 18px;
        animation: pulse 1s linear infinite;
      }

      .message, .signin {
        color: rgba(88, 87, 87, 0.822);
        font-size: 14px;
      }

      .signin {
        text-align: center;
      }

      .signin a {
        color: royalblue;
      }

      .signin a:hover {
        text-decoration: underline royalblue;
      }

      .flex {
        display: flex;
        width: 100%;
        gap: 6px;
      }

      .formcreate label {
        position: relative;
      }

      .formcreate label .input {
        width: 100%;
        padding: 10px 10px 20px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
      }

      .formcreate label .input + span {
        position: absolute;
        left: 10px;
        top: 15px;
        color: grey;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
      }

      .formcreate label .input:placeholder-shown + span {
        top: 15px;
        font-size: 0.9em;
      }

      .formcreate label .input:focus + span,.formcreate label .input:valid + span {
        top: 30px;
        font-size: 0.7em;
        font-weight: 600;
      }

      .formcreate label .input:valid + span {
        color: green;
      }

      .submit {
        border: none;
        outline: none;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
      }

      .submit:hover {
        background-color: rgb(56, 90, 194);
      }

      @keyframes pulse {
        from {
          transform: scale(0.9);
          opacity: 1;
        }

        to {
          transform: scale(1.8);
          opacity: 0;
        }
      }
      #formcreate {
        display: none;
        /* Ẩn form ban đầu */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        /* Góc tròn */
        padding: 20px;
        background-color: white;
        z-index: 2000;
        width: max-content;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
        /* Tăng bóng đổ */
        font-family: Arial, sans-serif;
      }
      /* phần css cho label tổng số tiết ki*/
      .total-label {
        margin-left: auto;
        margin-right: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 8px;
        width: fit-content;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: block;
      }

      .total-label label {
        font-weight: bold;
        color: #000;
        margin-right: 8px;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      .total-label label,
      .total-label label span {
        background-color: #007BFF;
        color: #fff;
      }

      .total-label span {
        font-weight: bold;
        color: #333;
      }
      #suggestionBox {
        position: absolute; /* Định vị tuyệt đối để căn theo input */
        background-color: white; /* Màu nền trắng để dễ nhìn */
        border: 1px solid #ccc; /* Viền để phân biệt */
        z-index: 1000; /* Đảm bảo nằm trên các phần tử khác */
        width: calc(100% - 20px); /* Độ rộng phù hợp với input */
        max-height: 200px; /* Giới hạn chiều cao */
        overflow-y: auto; /* Cuộn dọc nếu nội dung quá nhiều */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Đổ bóng đẹp mắt */
      }
      th{
        padding-left: 5px;
        padding-right: 5px;
      }
    </style>
</head>
<body>
   
  <!-- Phần header -->
  <%- include('header') %>

  <!-- Phần nội dung -->
      <div>
        
        <h1 class="d-flex justify-content-center my-3">Thông tin vượt giờ</h1>
        <div class="m-3 form">
          <div class="" style="justify-self: center;">
            <div id="renderInfo" style="display: inline-block;">
              <div class="d-flex justify-content-between">
                <div class="cbb d-flex" style="margin-top: 20px;">
          
                  <!-- Combo box Năm -->
                  <select class="selectop mx-1" id="NamHoc">
                    <option value="">Năm học</option>
                  </select>
          
                  <button id="info" class="btn text-nowrap mx-2" style="height: 45px;">Hiển thị</button>
                </div>
                <div class="d-flex align-items-center">
                  <select name="MaPhongBan" id="MaPhongBan" class="form-control mx-2" style="border: 2px solid #2c9caf; height: 45px;">
  
                  </select>
                  <div class="" style="position: relative;">
                    <input
                      class="form-control" style="border: 2px solid #2c9caf; height: 45px;"
                      type="text"
                      id="TenNhanVien"
                      onkeyup="suggest()"
                      placeholder="Nhập tên nhân viên"
                    />
                    <div id="suggestionBox"></div>
                  </div>
                  <div>
                    <button id="xemlopgv" class="btn mx-2" style="margin: 0px; height: 45px;" onclick="loadInfoLopGV()">Xem</button>  
                  </div>
                </div>
              </div> 
              <table class=" text-center" style="width: max-content;">
                <tr>
                  <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 18px;">A.1. Giảng dạy</th>
                </tr>
                <tr>
                  <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ I - Đào tạo chuyên ngành Kỹ thuật mật mã</th>
                </tr>
                <tr style="background-color: #007BFF;">
                  <th style="width: 50px;">TT</th>
                  <th style="width: max-content;">Tên học phần</th>
                  <th style="width: 100px;">Số TC</th>
                  <th style="width: 50px;">Lớp học phần</th>
                  <th style="width: 50px;">Đối tượng</th>
                  <th style="width: 50px;">Số tiết theo TKB</th>
                  <th style="width: 50px;">Số tiết QC</th>
                  <th style="width: 100px;">Lớp thuộc</th>
                </tr>
                <tbody id="tableBodyA11" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                  <tr style="font-weight: bold;">
                    <td style="width: 50px;">
                      <strong>Tổng (1): </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width: 50px;">
                        <span id="totalGiangDay1">0</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ I - Đào tạo hệ đóng học phí</th>
                  </tr>
                  <tr style="background-color: #007BFF;">
                    <th style="width: 50px;">TT</th>
                    <th style="width: max-content;">Tên học phần</th>
                    <th style="width: 100px;">Số TC</th>
                    <th style="width: 50px;">Lớp học phần</th>
                    <th style="width: 50px;">Đối tượng</th>
                    <th style="width: 50px;">Số tiết theo TKB</th>
                    <th style="width: 50px;">Số tiết QC</th>
                    <th style="width: 100px;">Lớp thuộc</th>
                  </tr>
                <tbody id="tableBodyA12" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                  <tr style="font-weight: bold;">
                    <td style="width: 50px;">
                      <strong>Tổng (2): </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width: 50px;">
                        <span id="totalGiangDay2">0</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ II - Đào tạo chuyên ngành Kỹ thuật mật mã</th>
                  </tr>
                  <tr style="background-color: #007BFF;">
                    <th style="width: 50px;">TT</th>
                    <th style="width: 200px;">Tên học phần</th>
                    <th style="width: 100px;">Số TC</th>
                    <th style="width: 50px;">Lớp học phần</th>
                    <th style="width: 50px;">Đối tượng</th>
                    <th style="width: 50px;">Số tiết theo TKB</th>
                    <th style="width: 50px;">Số tiết QC</th>
                    <th style="width: 100px;">Lớp thuộc</th>
                  </tr>
                <tbody id="tableBodyA13" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                  <tr style="font-weight: bold;">
                    <td style="width: 50px;">
                      <strong>Tổng (3): </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width: 50px;">
                        <span id="totalGiangDay3">0</span>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ II - Đào tạo hệ đóng học phí</th>
                  </tr>
                  <tr style="background-color: #007BFF;">
                    <th style="width: 50px;">TT</th>
                    <th style="width: 200px;">Tên học phần</th>
                    <th style="width: 100px;">Số TC</th>
                    <th style="width: 50px;">Lớp học phần</th>
                    <th style="width: 50px;">Đối tượng</th>
                    <th style="width: 50px;">Số tiết theo TKB</th>
                    <th style="width: 50px;">Số tiết QC</th>
                    <th style="width: 100px;">Lớp thuộc</th>
                  </tr>
                <tbody id="tableBodyA14" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                <tr style="font-weight: bold;">
                  <td style="width: 50px;">
                    <strong>Tổng (4): </strong>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="width: 50px;">
                      <span id="totalGiangDay4">0</span>
                  </td>
                  <td></td>
                </tr>
                <tr style="font-weight: 900; color: #F95700;">
                  <td style="width: 50px;">
                    <strong>Tổng (A.1): </strong>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="width: 50px;">
                    <span id="totalGiangDay">0</span>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 18px;">
                    A.2.Đánh giá giữa học phần
                  </th>
                </tr>
                <tr>
                  <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ I - Đào tạo chuyên ngành Kỹ thuật mật mã</th>
                </tr>
                <tr style="background-color: #007BFF;">
                  <th style="width: 50px;">TT</th>
                  <th style="width: 200px;">Tên học phần</th>
                  <th style="text-wrap: wrap;">Ra đề/ coi thi/ chấm thi giữa học phần</th>
                  <th style="width: 50px;">Lớp học phần</th>
                  <th style="width: 50px;">Đối tượng</th>
                  <th>Số SV</th>
                  <th style="width: 50px;">Số đề</th>
                  <th style="width: 100px;">Số tiết ra đề/ coi thi/ chấm thi</th>
                </tr>
                <tbody id="tableBodyA21" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                  <tr style="font-weight: bold;">
                    <td style="width: 50px;">
                      <strong>Tổng (5): </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width: 50px;">
                        <span id="totalSoTietKT1">0</span>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ I - Đào tạo hệ đóng học phí</th>
                  </tr>
                  <tr style="background-color: #007BFF;">
                    <th style="width: 50px;">TT</th>
                    <th style="width: 200px;">Tên học phần</th>
                    <th style="text-wrap: wrap;">Ra đề/ coi thi/ chấm thi giữa học phần</th>
                    <th style="width: 50px;">Lớp học phần</th>
                    <th style="width: 50px;">Đối tượng</th>
                    <th>Số SV</th>
                    <th style="width: 50px;">Số đề</th>
                    <th style="width: 100px;">Số tiết ra đề/ coi thi/ chấm thi</th>
                  </tr>
                <tbody id="tableBodyA22" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                  <tr style="font-weight: bold;">
                    <td style="width: 50px;">
                      <strong>Tổng (6): </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width: 50px;">
                        <span id="totalSoTietKT2">0</span>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ II - Đào tạo chuyên ngành Kỹ thuật mật mã</th>
                  </tr>
                  <tr style="background-color: #007BFF;">
                    <th style="width: 50px;">TT</th>
                    <th style="width: 200px;">Tên học phần</th>
                    <th style="text-wrap: wrap;">Ra đề/ coi thi/ chấm thi giữa học phần</th>
                    <th style="width: 50px;">Lớp học phần</th>
                    <th style="width: 50px;">Đối tượng</th>
                    <th>Số SV</th>
                    <th style="width: 50px;">Số đề</th>
                    <th style="width: 100px;">Số tiết ra đề/ coi thi/ chấm thi</th>
                  </tr>
                <tbody id="tableBodyA23" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                  <tr style="font-weight: bold;">
                    <td style="width: 50px;">
                      <strong>Tổng (7): </strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="width: 50px;">
                        <span id="totalSoTietKT3">0</span>
                    </td>
                  </tr>
                  <tr>
                    <th colspan="7" style="text-align: left; background-color: white !important; color: #000; font-size: 14px;">Học kỳ II - Đào tạo chuyên ngành Kỹ thuật mật mã</th>
                  </tr>
                  <tr style="background-color: #007BFF;">
                    <th style="width: 50px;">TT</th>
                    <th style="width: 200px;">Tên học phần</th>
                    <th style="text-wrap: wrap;">Ra đề/ coi thi/ chấm thi giữa học phần</th>
                    <th style="width: 50px;">Lớp học phần</th>
                    <th style="width: 50px;">Đối tượng</th>
                    <th>Số SV</th>
                    <th style="width: 50px;">Số đề</th>
                    <th style="width: 100px;">Số tiết ra đề/ coi thi/ chấm thi</th>
                  </tr>
                <tbody id="tableBodyA24" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
                <tr style="font-weight: bold;">
                  <td style="width: 50px;">
                    <strong>Tổng (8): </strong>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="width: 50px;">
                      <span id="totalSoTietKT4">0</span>
                  </td>
                </tr>
                <tr style="font-weight: 900; color: #F95700;">
                  <td style="width: 50px; text-wrap: nowrap;">
                    <strong>Tổng (A.2): </strong>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td style="width: 50px;">
                      <span id="totalSoTietKT">0</span>
                  </td>
                </tr>
              </table>
            </div>
            <!-- Label tổng số tiết tách riêng với bảng -->
          </div>
        </div>
        <!-- Modal form -->
        <div id="modalBackdrop" style="display: none;"></div> <!-- Nền tối -->
        <div id="noteForm" style="display: none;">
          <h3>Ghi chú</h3>
          <label for="noteInput">Nội dung:</label>
          <textarea id="noteInput"></textarea> <!-- Sử dụng textarea cho ghi chú dài -->
          <br />
          <div class="d-flex text-nowrap" style="text-align: right;">
            <button onclick="saveNote()">Lưu</button>
            <button onclick="doneNote()">Hoàn Thành</button>
            <button class="cancel" onclick="closeNoteForm()">Đóng</button>
          </div>
        </div>
      </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    tabButtons.forEach(button => {
        button.addEventListener('click', function () {
            // Xóa trạng thái active khỏi tất cả các tab
            tabButtons.forEach(btn => btn.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active-tab'));

            // Kích hoạt tab được chọn
            const tabId = this.dataset.tab;
            document.getElementById(tabId).classList.add('active-tab');  // Hiển thị nội dung tab
            this.classList.add('active');  // Thêm lớp active vào nút được chọn
        });
    });
});
</script>
<script>
    const Home = document.getElementById("Home");
    Home.addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

        const isKhoa = localStorage.getItem("isKhoa")

        if (isKhoa==0) { // Nếu là đào tạo hoặc tài chính
          window.location.href = "/maindt";
        } else {
          window.location.href = "/mainkhoa";
        }
    });
</script>

<script>
  document.getElementById("infome").addEventListener("click", function(event) {
    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
    const id_User = localStorage.getItem("id_User"); // Lấy id_User từ localStorage\
    if (id_User) {
        // Chuyển hướng đến trang infome và truyền id_User trong URL
        window.location.href = `/infome/${id_User}`;
    } else {
        alert("Không tìm thấy id_User trong localStorage.");
    }
  });
</script>
<script>
  $(document).ready(function () {
    $('#NamHoc option[value=""]').remove();
    $('#comboboxki option[value=""]').remove();
    $('#combobox-dot option[value=""]').remove();

    $.ajax({
      url: '/getNamHoc',
      method: 'GET',
      success: function (response) {
        if (response.success) {

          response.NamHoc.forEach(function (item) {
            console.log(item.NamHoc);
            $('#NamHoc').append(
              `<option value="${item.NamHoc}">${item.NamHoc}</option>`
            );
          });

          response.Ki.forEach(function (item) {
            console.log(item.Ki);
            $('#comboboxki').append(
              `<option value="${item.value}">${item.Ki}</option>`
            );
          });
          loadLopMoiData();
        } else {
          console.error("Không lấy được dữ liệu năm học:", response.message);
        }
      },
      error: function (error) {
        console.error("Lỗi khi lấy dữ liệu năm học:", error);
      }
    });
  });
</script>
</script>
<script>
  document.getElementById('info').addEventListener('click', loadLopMoiData);

  async function loadLopMoiData() {
    const MaPhongBan = localStorage.getItem('MaPhongBan'); // Lấy mã phòng ban từ localStorage
    const TenNhanVien = localStorage.getItem("TenNhanVien");
    const Nam = document.getElementById('NamHoc').value;
    if (!MaPhongBan) {
      alert("Mã phòng ban không tồn tại!");
      return;
    }

    try {
      console.log("Gửi dữ liệu");
      const response = await fetch(`/xemlopgiangday/${MaPhongBan}/${Nam}/${TenNhanVien}`, {
        method: 'GET', // Gửi yêu cầu GET
      });
      if (!response.ok) {
        throw new Error(`Error: ${response.status} - ${response.statusText}`);
      }
      const data = await response.json(); // Lấy dữ liệu từ server
      if (data.success) {
        // console.log(data)
        // Danh sách các bảng cần lọc
        const rowsKeys = ['rows11', 'rows12', 'rows13', 'rows14', 'rows21', 'rows22', 'rows23', 'rows24'];

        // Áp dụng filter cho tất cả các bảng
        // rowsKeys.forEach(key => {
        //   if (data[key]) {
        //     data[key] = data[key].filter(row => row.GiangVien.trim() === TenNhanVien.trim());
        //   }
        // });
        // Kiểm tra xem tất cả các bảng đều là mảng rỗng
        const allRowsEmpty = rowsKeys.every(key => !data[key] || data[key].length === 0);

        if (allRowsEmpty) {
          alert("Tất cả các bảng đều không có dữ liệu!");
        } else {
          console.log('Dữ liệu bộ môn:', data);
          renderTable(data); // Gọi hàm render bảng
        }
      } else {
        alert("Không tìm thấy dữ liệu!");
      }
    } catch (error) {
      console.error('Có lỗi xảy ra khi lấy dữ liệu:', error);
    }
  }

</script>
<script>
  function renderTable(data) {
    const role = localStorage.getItem("userRole");
    const MaPhongBan = localStorage.getItem("MaPhongBan");
    const isKhoa = localStorage.getItem("isKhoa");
    const TenNhanVien = localStorage.getItem("TenNhanVien");
    console.log( TenNhanVien);
    let tableRowData = [];

    const tableBodyA11 = document.getElementById('tableBodyA11');
    tableBodyA11.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA12 = document.getElementById('tableBodyA12');
    tableBodyA12.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA13 = document.getElementById('tableBodyA13');
    tableBodyA13.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA14 = document.getElementById('tableBodyA14');
    tableBodyA14.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA21 = document.getElementById('tableBodyA21');
    tableBodyA21.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA22 = document.getElementById('tableBodyA22');
    tableBodyA22.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA23 = document.getElementById('tableBodyA23');
    tableBodyA23.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA24 = document.getElementById('tableBodyA24');
    tableBodyA24.innerHTML = ''; // Xóa nội dung cũ
    //let index = -1;
    data.rows21.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const hinhThucKTGiuaKyTd = document.createElement('td');
      hinhThucKTGiuaKyTd.textContent = row.HinhThucKTGiuaKy;
      tableRow.appendChild(hinhThucKTGiuaKyTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const soSVTd = document.createElement('td');
      soSVTd.textContent = row.SoSV;
      tableRow.appendChild(soSVTd);
      //
      const soDeTd = document.createElement('td');
      soDeTd.textContent = row.SoDe;
      tableRow.appendChild(soDeTd);
      //
      const soTietKT = document.createElement('td');
      soTietKT.textContent = row.SoTietKT;
      tableRow.appendChild(soTietKT);

      tableBodyA21.appendChild(tableRow);
    });


    data.rows22.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const hinhThucKTGiuaKyTd = document.createElement('td');
      hinhThucKTGiuaKyTd.textContent = row.HinhThucKTGiuaKy;
      tableRow.appendChild(hinhThucKTGiuaKyTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const soSVTd = document.createElement('td');
      soSVTd.textContent = row.SoSV;
      tableRow.appendChild(soSVTd);
      //
      const soDeTd = document.createElement('td');
      soDeTd.textContent = row.SoDe;
      tableRow.appendChild(soDeTd);
      //
      const soTietKT = document.createElement('td');
      soTietKT.textContent = row.SoTietKT;
      tableRow.appendChild(soTietKT);

      tableBodyA22.appendChild(tableRow);
    });

    data.rows23.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const hinhThucKTGiuaKyTd = document.createElement('td');
      hinhThucKTGiuaKyTd.textContent = row.HinhThucKTGiuaKy;
      tableRow.appendChild(hinhThucKTGiuaKyTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const soSVTd = document.createElement('td');
      soSVTd.textContent = row.SoSV;
      tableRow.appendChild(soSVTd);
      //
      const soDeTd = document.createElement('td');
      soDeTd.textContent = row.SoDe;
      tableRow.appendChild(soDeTd);
      //
      const soTietKT = document.createElement('td');
      soTietKT.textContent = row.SoTietKT;
      tableRow.appendChild(soTietKT);

      tableBodyA23.appendChild(tableRow);
    });

    data.rows24.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const hinhThucKTGiuaKyTd = document.createElement('td');
      hinhThucKTGiuaKyTd.textContent = row.HinhThucKTGiuaKy;
      tableRow.appendChild(hinhThucKTGiuaKyTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const soSVTd = document.createElement('td');
      soSVTd.textContent = row.SoSV;
      tableRow.appendChild(soSVTd);
      //
      const soDeTd = document.createElement('td');
      soDeTd.textContent = row.SoDe;
      tableRow.appendChild(soDeTd);
      //
      const soTietKT = document.createElement('td');
      soTietKT.textContent = row.SoTietKT;
      tableRow.appendChild(soTietKT);

      tableBodyA24.appendChild(tableRow);
    });

    data.rows11.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const soTCTd = document.createElement('td');
      soTCTd.textContent = row.SoTC;
      tableRow.appendChild(soTCTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const lenLopTd = document.createElement('td');
      lenLopTd.textContent = row.LenLop;
      tableRow.appendChild(lenLopTd);
      //
      const quyChuanTd = document.createElement('td');
      quyChuanTd.textContent = row.QuyChuan;
      tableRow.appendChild(quyChuanTd);
      //
      const sourceTd = document.createElement('td');
      sourceTd.textContent = row.source;
      tableRow.appendChild(sourceTd);

      tableBodyA11.appendChild(tableRow);
    });

    data.rows12.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const soTCTd = document.createElement('td');
      soTCTd.textContent = row.SoTC;
      tableRow.appendChild(soTCTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const lenLopTd = document.createElement('td');
      lenLopTd.textContent = row.LenLop;
      tableRow.appendChild(lenLopTd);
      //
      const quyChuanTd = document.createElement('td');
      quyChuanTd.textContent = row.QuyChuan;
      tableRow.appendChild(quyChuanTd);
      //
      const sourceTd = document.createElement('td');
      sourceTd.textContent = row.source;
      tableRow.appendChild(sourceTd);

      tableBodyA12.appendChild(tableRow);
    });

    data.rows13.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const soTCTd = document.createElement('td');
      soTCTd.textContent = row.SoTC;
      tableRow.appendChild(soTCTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const lenLopTd = document.createElement('td');
      lenLopTd.textContent = row.LenLop;
      tableRow.appendChild(lenLopTd);
      //
      const quyChuanTd = document.createElement('td');
      quyChuanTd.textContent = row.QuyChuan;
      tableRow.appendChild(quyChuanTd);
      //
      const sourceTd = document.createElement('td');
      sourceTd.textContent = row.source;
      tableRow.appendChild(sourceTd);

      tableBodyA13.appendChild(tableRow);
    });

    data.rows14.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const soTCTd = document.createElement('td');
      soTCTd.textContent = row.SoTC;
      tableRow.appendChild(soTCTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const doiTuongTd = document.createElement('td');
      doiTuongTd.textContent = row.DoiTuong;
      tableRow.appendChild(doiTuongTd);
      //
      const lenLopTd = document.createElement('td');
      lenLopTd.textContent = row.LenLop;
      tableRow.appendChild(lenLopTd);
      //
      const quyChuanTd = document.createElement('td');
      quyChuanTd.textContent = row.QuyChuan;
      tableRow.appendChild(quyChuanTd);
      //
      const sourceTd = document.createElement('td');
      sourceTd.textContent = row.source;
      tableRow.appendChild(sourceTd);

      tableBodyA14.appendChild(tableRow);
    });
    // Lưu dữ liệu với id vào localStorage
    localStorage.setItem('tableData', JSON.stringify(tableRowData));
    calculatetotalGiangDay();
  }

</script>
<script>
  // tổng quy chuẩn
  function calculatetotalGiangDay() {
  let totalGiangDay = 0;
  let totalSoTietKT = 0;
  let totalA11 = 0, totalA12 = 0, totalA13 = 0, totalA14 = 0, 
    totalA21 = 0, totalA22 = 0, totalA23 = 0, totalA24 = 0;


  // Lấy tất cả các hàng dữ liệu trong bảng
  const rows11 = document.querySelectorAll('#tableBodyA11 tr');
  const rows12 = document.querySelectorAll('#tableBodyA12 tr');
  const rows13 = document.querySelectorAll('#tableBodyA13 tr');
  const rows14 = document.querySelectorAll('#tableBodyA14 tr');
  const rows21 = document.querySelectorAll('#tableBodyA21 tr');
  const rows22 = document.querySelectorAll('#tableBodyA22 tr');
  const rows23 = document.querySelectorAll('#tableBodyA23 tr');
  const rows24 = document.querySelectorAll('#tableBodyA24 tr');

  rows11.forEach(row => {
    // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    const totalA11Td = row.querySelector('td:nth-last-child(2)');
    if (totalA11Td) {
      const totalA11Value = parseFloat(totalA11Td.textContent.trim());
      if (!isNaN(totalA11Value)) {
        totalA11 += totalA11Value;
      }
    }
  });
  rows12.forEach(row => {
    // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    const totalA12Td = row.querySelector('td:nth-last-child(2)');
    if (totalA12Td) {
      const totalA12Value = parseFloat(totalA12Td.textContent.trim());
      if (!isNaN(totalA12Value)) {
        totalA12 += totalA12Value;
      }
    }
  });
  rows13.forEach(row => {
    // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    const totalA13Td = row.querySelector('td:nth-last-child(2)');
    if (totalA13Td) {
      const totalA13Value = parseFloat(totalA13Td.textContent.trim());
      if (!isNaN(totalA13Value)) {
        totalA13 += totalA13Value;
      }
    }
  });
  rows14.forEach(row => {
    // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    const totalA14Td = row.querySelector('td:nth-last-child(2)');
    if (totalA14Td) {
      const totalA14Value = parseFloat(totalA14Td.textContent.trim());
      if (!isNaN(totalA14Value)) {
        totalA14 += totalA14Value;
      }
    }
  });

  // Hiển thị tổng số tiết kiểm tra trong một phần tử có id `totalGiangDay1`
  const totalA11Element = document.getElementById('totalGiangDay1');
  if (totalA11Element) {
    totalA11Element.textContent = totalA11.toFixed(2); // Định dạng 2 chữ số thập phân
  }
  const totalA12Element = document.getElementById('totalGiangDay2');
  if (totalA12Element) {
    totalA12Element.textContent = totalA12.toFixed(2); // Định dạng 2 chữ số thập phân
  }
  const totalA13Element = document.getElementById('totalGiangDay3');
  if (totalA13Element) {
    totalA13Element.textContent = totalA13.toFixed(2); // Định dạng 2 chữ số thập phân
  }
  const totalA14Element = document.getElementById('totalGiangDay4');
  if (totalA14Element) {
    totalA14Element.textContent = totalA14.toFixed(2); // Định dạng 2 chữ số thập phân
  }

  //Tính tổng số tiết kiểm tra giữa kì 
  rows21.forEach(row => {
    // Kiểm tra nếu dòng có chứa giá trị `totalGiangDay`
    const totalA21Td = row.querySelector('td:nth-last-child(1)'); // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    if (totalA21Td) {
      const totalA21Value = parseFloat(totalA21Td.textContent.trim());
      if (!isNaN(totalA21Value)) {
        totalA21 += totalA21Value;
      }
    }
  });

  // Hiển thị tổng số tiết kiểm tra trong một phần tử có id `totalA21Td`
  const totalA21Element = document.getElementById('totalSoTietKT1');
  if (totalA21Element) {
    totalA21Element.textContent = totalA21.toFixed(2); // Định dạng 2 chữ số thập phân
  }
  rows22.forEach(row => {
    // Kiểm tra nếu dòng có chứa giá trị `totalGiangDay`
    const totalA22Td = row.querySelector('td:nth-last-child(1)'); // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    if (totalA22Td) {
      const totalA22Value = parseFloat(totalA22Td.textContent.trim());
      if (!isNaN(totalA22Value)) {
        totalA22 += totalA22Value;
      }
    }
  });

  // Hiển thị tổng số tiết kiểm tra trong một phần tử có id `totalA22Td`
  const totalA22Element = document.getElementById('totalSoTietKT2');
  if (totalA22Element) {
    totalA22Element.textContent = totalA22.toFixed(2); // Định dạng 2 chữ số thập phân
  }

  rows23.forEach(row => {
    // Kiểm tra nếu dòng có chứa giá trị `totalGiangDay`
    const totalA23Td = row.querySelector('td:nth-last-child(1)'); // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    if (totalA23Td) {
      const totalA23Value = parseFloat(totalA23Td.textContent.trim());
      if (!isNaN(totalA23Value)) {
        totalA23 += totalA23Value;
      }
    }
  });

  // Hiển thị tổng số tiết kiểm tra trong một phần tử có id `totalA23Td`
  const totalA23Element = document.getElementById('totalSoTietKT3');
  if (totalA23Element) {
    totalA23Element.textContent = totalA23.toFixed(2); // Định dạng 2 chữ số thập phân
  }

  rows24.forEach(row => {
    // Kiểm tra nếu dòng có chứa giá trị `totalGiangDay`
    const totalA24Td = row.querySelector('td:nth-last-child(1)'); // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    if (totalA24Td) {
      const totalA24Value = parseFloat(totalA24Td.textContent.trim());
      if (!isNaN(totalA24Value)) {
        totalA24 += totalA24Value;
      }
    }
  });

  // Hiển thị tổng số tiết kiểm tra trong một phần tử có id `totalA24Td`
  const totalA24Element = document.getElementById('totalSoTietKT4');
  if (totalA24Element) {
    totalA24Element.textContent = totalA24.toFixed(2); // Định dạng 2 chữ số thập phân
  }
  totalGiangDay = totalA11 + totalA12 + totalA13 + totalA14;
  totalSoTietKT = totalA21 + totalA22 + totalA23 + totalA24;
  const totalGiangDayElement = document.getElementById('totalGiangDay');
  if (totalGiangDayElement) {
    totalGiangDayElement.textContent = totalGiangDay.toFixed(2); // Định dạng 2 chữ số thập phân
  }
  const totalSoTietKTElement = document.getElementById('totalSoTietKT');
  if (totalSoTietKTElement) {
    totalSoTietKTElement.textContent = totalSoTietKT.toFixed(2); // Định dạng 2 chữ số thập phân
  }
}
</script>
<script>
  function suggest() {
    const query = document.getElementById("TenNhanVien").value;
    const isKhoa = localStorage.getItem("isKhoa");
    if (query.length === 0) {
      document.getElementById("suggestionBox").innerHTML = "";
      return;
    }
    let MaPhongBan;
    if (isKhoa === "1") {
      MaPhongBan = localStorage.getItem("MaPhongBan");
    } else {
      MaPhongBan = document.getElementById("MaPhongBan").value.trim();
    }
    
    fetch(`/suggestPb/${MaPhongBan}/${query}`)
      .then((response) => response.json())
      .then((data) => {
        // Lấy mảng tên nhân viên từ phần tử đầu tiên
        let results = data[0]; // Lấy dữ liệu từ phần tử đầu tiên

        // Kiểm tra xem results có phải là mảng và có phần tử hay không
        if (Array.isArray(results) && results.length > 0) {
          let suggestions = results
            .map((item) => {
              return `<div onclick="selectSuggestion('${item.TenNhanVien.trim()}')">${item.TenNhanVien.trim()}</div>`;
            })
            .join(""); // Kết hợp tất cả các phần tử thành chuỗi HTML

          // Chèn danh sách vào suggestionBox
          document.getElementById("suggestionBox").innerHTML = suggestions;
        } else {
          // Nếu không có kết quả, hiển thị thông báo
          document.getElementById("suggestionBox").innerHTML =
            "<div>No results found</div>";
        }
      })
      .catch((error) => console.error("Lỗi khi lấy dữ liệu:", error));
  }
  // Hàm này sẽ được gọi khi người dùng click vào một gợi ý
  function selectSuggestion(value) {
    // Thêm giá trị vào ô input
    document.getElementById("TenNhanVien").value = value;

    // Xóa các gợi ý khi chọn một tên
    document.getElementById("suggestionBox").innerHTML = "";
  }
  async function loadInfoLopGV() {
    const Nam = document.getElementById('NamHoc').value;
    const isKhoa = localStorage.getItem("isKhoa");
    const TenNhanVien = document.getElementById("TenNhanVien").value;
    let MaPhongBan;
    if (isKhoa === "1") {
      MaPhongBan = localStorage.getItem("MaPhongBan");
    } else {
      MaPhongBan = document.getElementById("MaPhongBan").value.trim();
    }
    if (!MaPhongBan) {
      alert("Mã phòng ban không tồn tại!");
      return;
    }

    try {
      console.log("Gửi dữ liệu");
      const response = await fetch(`/xemlopgiangday/${MaPhongBan}/${Nam}/${TenNhanVien}`, {
        method: 'GET', // Gửi yêu cầu GET
      });
      if (!response.ok) {
        throw new Error(`Error: ${response.status} - ${response.statusText}`);
      }
      const data = await response.json(); // Lấy dữ liệu từ server
      if (data.success) {
        // Danh sách các bảng cần lọc
        const rowsKeys = ['rows11', 'rows12', 'rows13', 'rows14', 'rows21', 'rows22', 'rows23', 'rows24'];

        // Áp dụng filter cho tất cả các bảng
        // rowsKeys.forEach(key => {
        //   if (data[key]) {
        //     data[key] = data[key].filter(row => row.GiangVien.trim() === TenNhanVien.trim());
        //   }
        // });
        // Kiểm tra xem tất cả các bảng đều là mảng rỗng
        const allRowsEmpty = rowsKeys.every(key => !data[key] || data[key].length === 0);

        if (allRowsEmpty) {
          alert("Tất cả các bảng đều không có dữ liệu!");
        } else {
          console.log('Dữ liệu bộ môn:', data);
          renderTable(data); // Gọi hàm render bảng
        }
      } else {
        alert("Không tìm thấy dữ liệu!");
      }
    } catch (error) {
      console.error('Có lỗi xảy ra khi lấy dữ liệu:', error);
    }
  }
</script>
<script>
      document.addEventListener("DOMContentLoaded", () => {
        const Quyen = localStorage.getItem("userRole");
        const isKhoa = localStorage.getItem("isKhoa");
        const selectKhoa = document.getElementById("MaPhongBan");
        const find = document.getElementById("TenNhanVien");
        const button = document.getElementById("xemlopgv");

        // Ẩn button ngay khi trang được tải
        const actionButton = document.getElementById('changeMessage');
        //Ẩn site thêm thông báo
        if (Quyen === APP_ROLES.troLy_phong || Quyen === APP_ROLES.lanhDao_phong) {
          actionButton.style.display = '';
        } else {
          actionButton.style.display = 'none';
        }

        if (Quyen === APP_ROLES.lanhDao_khoa) {
          selectKhoa.style.display = 'none';
          find.style.display = ''
          button.style.display = ''
        } else if (isKhoa === "0") {
          selectKhoa.style.display = '';
          find.style.display = ''
          button.style.display = ''
        } else {
          selectKhoa.style.display = 'none';
          find.style.display = ''
          button.style.display = ''
        }
      });
    </script>
  <script>
    document.getElementById("changeMessage").addEventListener("click", function(event) {
      event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
      const MaPhongBan = localStorage.getItem("MaPhongBan"); // Lấy MaPhongBan từ localStorage
      if (MaPhongBan) {
        // Chuyển hướng đến trang changeMessage và truyền MaPhongBan trong URL
        window.location.href = `/changeMessage/${MaPhongBan}`;
      } else {
        alert("Không tìm thấy MaPhongBan trong localStorage.");
      }
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#MaPhongBan option[value=""]').remove();
      // Gọi AJAX để lấy dữ liệu JSON từ API
      $.ajax({
        url: '/getPhongBan', // Đường dẫn tới API getPhongBan
        method: 'GET',
        success: function (response) {
          // Kiểm tra nếu response thành công
          const MaPhongBan = response.MaPhongBan;
          if (response.success) {
            // $('#MaPhongBan').prepend('<option value="ALL">Tất cả khoa</option>');
            // Lặp qua từng mục trong mảng MaPhongBan
            response.MaPhongBan.forEach(function (item) {
              // Nếu item.MaPhongBan bằng boMon.MaPhongBan, hiển thị trước
              console.log(item);
              $('#MaPhongBan').append(
                `<option value="${item.MaPhongBan}">${item.MaPhongBan}</option>`
              );
              }
            );
  
            // Nếu không có phòng ban nào tương ứng, bạn có thể thêm tùy chọn mặc định ở đây
            if (!$('#MaPhongBan option:selected').length) {
              $('#MaPhongBan').prepend('<option value="">Chọn Phòng Ban</option>');
            }
          } else {
            console.error("Không lấy được dữ liệu phongBan:", response.message);
          }
        },
        error: function (error) {
          console.error("Lỗi khi lấy dữ liệu phongBan:", error);
        }
      });
    });
  </script>
  </body>
</html>

