<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Học Viện Kỹ Thuật Mật Mã</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/forminput.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- <link rel="stylesheet" href="public/css/styles.css"> -->
    <style>
      input, select{
        color: #2c9caf !important;
      }

      .formcreate {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        gap: 10px;
        max-width: 350px;
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        position: relative;
      }

      .title {
        font-size: 28px;
        color: royalblue;
        font-weight: 600;
        letter-spacing: -1px;
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 30px;
      }

      .title::before,.title::after {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        border-radius: 50%;
        left: 0px;
        background-color: royalblue;
      }

      .title::before {
        width: 18px;
        height: 18px;
        background-color: royalblue;
      }

      .title::after {
        width: 18px;
        height: 18px;
        animation: pulse 1s linear infinite;
      }

      .message, .signin {
        color: rgba(88, 87, 87, 0.822);
        font-size: 14px;
      }

      .signin {
        text-align: center;
      }

      .signin a {
        color: royalblue;
      }

      .signin a:hover {
        text-decoration: underline royalblue;
      }

      .flex {
        display: flex;
        width: 100%;
        gap: 6px;
      }

      .formcreate label {
        position: relative;
      }

      .formcreate label .input {
        width: 100%;
        padding: 10px 10px 20px 10px;
        outline: 0;
        border: 1px solid rgba(105, 105, 105, 0.397);
        border-radius: 10px;
      }

      .formcreate label .input + span {
        position: absolute;
        left: 10px;
        top: 15px;
        color: grey;
        font-size: 0.9em;
        cursor: text;
        transition: 0.3s ease;
      }

      .formcreate label .input:placeholder-shown + span {
        top: 15px;
        font-size: 0.9em;
      }

      .formcreate label .input:focus + span,.formcreate label .input:valid + span {
        top: 30px;
        font-size: 0.7em;
        font-weight: 600;
      }

      .formcreate label .input:valid + span {
        color: green;
      }

      .submit {
        border: none;
        outline: none;
        background-color: royalblue;
        padding: 10px;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
      }

      .submit:hover {
        background-color: rgb(56, 90, 194);
      }

      @keyframes pulse {
        from {
          transform: scale(0.9);
          opacity: 1;
        }

        to {
          transform: scale(1.8);
          opacity: 0;
        }
      }
      #formcreate {
        display: none;
        /* Ẩn form ban đầu */
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        /* Góc tròn */
        padding: 20px;
        background-color: white;
        z-index: 2000;
        width: max-content;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.2);
        /* Tăng bóng đổ */
        font-family: Arial, sans-serif;
      }
      /* phần css cho label tổng số tiết ki*/
      .total-label {
        margin-left: auto;
        /* Căn phải cho thẻ total-label */
        margin-right: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 8px;
        width: fit-content;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: block;
        /* Đảm bảo thẻ div là khối để căn phải hoạt động */
      }

      .total-label label {
        font-weight: bold;
        /* Giữ chữ in đậm */
        color: #000;
        /* Màu chữ đen */
        margin-right: 8px;
        /* Thêm khoảng cách bên phải */
        cursor: pointer;
        /* Tạo hiệu ứng chuyển màu nền và màu chữ mềm mại */
        padding: 5px 10px;
        /* Thêm padding cho label để tạo không gian */
        border: 1px solid #ccc;
        /* Khung cho label */
        border-radius: 4px;
        /* Bo góc cho khung */
      }

      .total-label label,
      .total-label label span {
        background-color: #007BFF;
        /* Màu nền khi hover */
        color: #fff;
        /* Màu chữ trắng khi hover */
      }

      .total-label span {
        font-weight: bold;
        /* Giữ chữ trong span cũng in đậm */
        color: #333;
        /* Màu chữ đậm cho giá trị */
      }
    </style>
</head>
<body>
   
    <nav class="navbar-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/Logo-Hoc-Vien-Ky-Thuat-Mat-Ma-ACTVN.webp" alt="Logo">
            <div class="navbar-title">
              <img src="/dongchu_banner.png" alt="banner">
            </div>
          </a>
        </div>
      </nav>
    
      <!-- Phần dưới của navbar chứa các mục nằm ngang -->
      <nav class="navbar navbar-expand-lg navbar-bottom sticky-top">
        <div class="" style="width: 100%;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" style="width: 100%;" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" id="Home" href=""><i class="fa-solid fa-house"></i></a>
              </li>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Giảng Viên Mời
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" href="/gvmList">Danh sách giảng viên mời</a>
                    <a class="nav-link" id="actionButton1" href="/importGvmList" style="width: 100%;">Thêm giảng viên mời bằng file</a>
                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Bảng Quy Chuẩn
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" href="/import" id="actionButton2" style="width: 100%;">Thêm file quy chuẩn</a>
                <a class="nav-link" href="/tableTam">Bảng quy chuẩn dự kiến</a>
                    <a class="nav-link" href="/tableQC">Bảng quy chuẩn chính thức</a>
                    <a class="nav-link" id="ThongTinGD" href="">Thông tin giảng viên theo lớp</a>
                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Mời Giảng
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" href="/xemCacLopGvm">Xem các lớp mời</a>
                    <a class="nav-link" href="/classInfoGvm">Thông tin lớp giảng viên mời</a>
                    <a class="nav-link" href="/hopDongDuKien" role="button">Hợp đồng dự kiến</a>

                    <a  class="nav-link " href="/infoHDGvm" role="button">Thông tin hợp đồng</a>   
                    <li class="nav-item"></li>
                      <a class="nav-link " href="/phuLucHD" >Phụ lục hợp đồng</a>
                    </li>
                    <a class="nav-link " href="/exportHD">Hợp Đồng</a>

                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Vượt Giờ
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link active" id="" href="/infoclassvuotgio">Thông tin lớp vượt giờ của tôi</a>
                    <a class="nav-link" id="" href="/addclass">Thêm lớp giảng dạy</a>              
                    <a class="nav-link" id="" href="/addclassgiuaky">Thêm lớp kiểm tra giữa kỳ</a>
                    <a class="nav-link" id="actionButton3" href="/duyetgk">Duyệt các lớp giữa kì</a>
                    <a class="nav-link" id="" href="/vuotGioExport">Xuất thông tin vượt giờ</a>              

                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Nghiên Cứu Khoa Học
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="" href="#">COMING SOON</a>              </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Đồ Án
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="" href="#">COMING SOON</a>              </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Thống Kê
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="" href="/thongkemg">Mời Giảng</a>
                    <a class="nav-link" id="" href="#">Giảng viên cơ hữu</a>
                    <a class="nav-link" id="" href="#">Đồ Án</a>
                    <a class="nav-link" id="" href="#">Nghiên cứu khoa học</a>
                  </div>
                </div>
              </div>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                     Hệ Thống
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link" id="" href="log">Xem File Log</a>
                  </div>
                </div>
              </div>
            </ul>
              <div class="navbar-nav">
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle fullname" href="/login" id="navbarDropdownUser" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Hi, Lê Đức Thuận
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"id="infome">Thông tin cá nhân</a>
                    <a class="dropdown-item" id="changePasswordLink">Đổi mật khẩu</a>
                    <a class="dropdown-item" href="/">Đăng xuất</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </nav>
      <div>
        
        <h1 class="d-flex justify-content-center my-3">Lớp giảng dạy ngoài quy chuẩn</h1>
        <div class="m-3 form">
          <div class="">
            <div class="d-flex">
              <div class="cbb d-flex" style="margin-top: 20px;">
        
                <!-- Combo box Kỳ -->
                <select class="selectop mx-1" id="comboboxki">
                  <option value="">Kỳ</option>
                </select>
        
                <!-- Combo box Năm -->
                <select class="selectop mx-1" id="NamHoc">
                  <option value="">Năm học</option>
                </select>
        
                <button id="infoGvm" class="btn text-nowrap mx-2" style="height: 45px;">Hiển thị</button>
              </div>
            </div> 
            <div id="renderInfo">
              <h4>A.1.Giảng dạy</h4>
              <table class=" text-center" style="width: 100%;">
                <thead>
                  <tr>
                    <th style="width: 50px;">TT</th>
                    <th style="width: 200px;">Tên học phần</th>
                    <th style="width: 50px;">Số TC</th>
                    <th style="width: 200px;">Lớp học phần</th>
                    <th style="width: 50px;">Số tiết theo TKB</th>
                    <th style="width: 100px;">Số tiết QC</th>
                    <th style="width: 50px;">Dữ liệu trong bảng</th>
                  </tr>
                </thead>
                <tbody id="tableBodyA1" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
              </table>
              <div class="total-label">
                <label class="flex"><span class="align-content-around">Tổng số tiết Giảng Dạy: </span><span class="value" id="totalGiangDay">0</span></label>
              </div>
              <h4>A.2.Đánh giá giữa học phần</h4>
              <table class=" text-center" style="width: 100%;">
                <thead>
                  <tr>
                    <th style="width: 50px;">TT</th>
                    <th style="width: 200px;">Tên học phần</th>
                    <th style="width: 200px;">Ra đề/ coi thi/ chấm thi giữa học phần</th>
                    <th style="width: 200px;">Lớp học phần</th>
                    <th style="width: 200px;">Số SV</th>
                    <th style="width: 50px;">Số đề</th>
                    <th style="width: 100px;">Số tiết ra đề/ coi thi/ chấm thi</th>
                  </tr>
                </thead>
                <tbody id="tableBodyA2" class="teacher-group">
                  <!-- Dữ liệu sẽ được chèn vào đây -->
                </tbody>
              </table>
              <div class="total-label">
                  <!-- <label>Tổng số tiết Lên Lớp: <span class="value" id="totalLL">0</span></label> -->
                  <label class="flex"><span class="align-content-around">Tổng số tiết Kiểm Tra giữa kì: </span><span class="value" id="totalSoTietKT">0</span></label>
                </div>
            </div>
            <!-- Label tổng số tiết tách riêng với bảng -->
          </div>
        </div>
        <!-- Modal form -->
        <div id="modalBackdrop" style="display: none;"></div> <!-- Nền tối -->
        <div id="noteForm" style="display: none;">
          <h3>Ghi chú</h3>
          <label for="noteInput">Nội dung:</label>
          <textarea id="noteInput"></textarea> <!-- Sử dụng textarea cho ghi chú dài -->
          <br />
          <div class="d-flex text-nowrap" style="text-align: right;">
            <button onclick="saveNote()">Lưu</button>
            <button onclick="doneNote()">Hoàn Thành</button>
            <button class="cancel" onclick="closeNoteForm()">Đóng</button>
          </div>
        </div>
      </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const isKhoa = localStorage.getItem("isKhoa");

      // Ẩn button ngay khi trang được tải
      const actionButton = document.getElementById('actionButton');
      const actionButton1 = document.getElementById('actionButton1');
      const actionButton2 = document.getElementById('actionButton2');
      const actionButton3 = document.getElementById('actionButton3');

      if (isKhoa == 0) {
        actionButton1.style.display = 'none'; // Ẩn actionButton1 nếu isKhoa = 0
        actionButton2.style.display = 'inline-block'; // Hiện actionButton2
            
      } else {
          actionButton1.style.display = 'inline-block'; // Hiện actionButton1 nếu isKhoa khác 0
          actionButton2.style.display = 'none'; // Ẩn actionButton2
      }
      const MaPhongBan = localStorage.getItem("MaPhongBan");
    
      // Gán URL động vào thuộc tính action của form
      if (MaPhongBan) {
        document.getElementById("addClassForm").action = `/addclass/${MaPhongBan}`;
      } else {
        console.error("Không tìm thấy MaPhongBan trong localStorage");
      }

      //Ẩn site duyệt
      const Quyen = localStorage.getItem("userRole");
      if (Quyen === "Lãnh đạo khoa" || Quyen === "Duyệt") {
        actionButton3.style.display = '';
      } else {
        actionButton3.style.display = 'none';
      }
      });
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    tabButtons.forEach(button => {
        button.addEventListener('click', function () {
            // Xóa trạng thái active khỏi tất cả các tab
            tabButtons.forEach(btn => btn.classList.remove('active'));
            tabContents.forEach(content => content.classList.remove('active-tab'));

            // Kích hoạt tab được chọn
            const tabId = this.dataset.tab;
            document.getElementById(tabId).classList.add('active-tab');  // Hiển thị nội dung tab
            this.classList.add('active');  // Thêm lớp active vào nút được chọn
        });
    });
});
</script>
<script>
    const Home = document.getElementById("Home");
    Home.addEventListener("click", function (event) {
        event.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết

        const isKhoa = localStorage.getItem("isKhoa")

        if (isKhoa==0) { // Nếu là đào tạo hoặc tài chính
          window.location.href = "/maindt";
        } else {
          window.location.href = "/mainkhoa";
        }
    });
</script>
<script>
    window.onload = function () {
        const TenNhanVien = localStorage.getItem("TenNhanVien"); // Lấy tên người dùng từ localStorage
        let Role = localStorage.getItem("userRole");
        if (Role.toUpperCase() == 'LÃNH ĐẠO KHOA'){
          Role = 'LĐK';
        }      
        if (TenNhanVien) {
            // Hiển thị tên người dùng trên phần tử HTML
          document.querySelector(".fullname").innerText = `${TenNhanVien} - ${Role}`;
        } else {
            document.querySelector('.fullname').innerText = 'Hi, Guest'; // Hiển thị nếu không có tên người dùng
        }      
        //document.querySelector('.role').innerText = `${Role}`;      
        };
</script>
<script>
  document.getElementById("infome").addEventListener("click", function(event) {
    event.preventDefault(); // Ngăn chặn hành vi mặc định của thẻ a
    const id_User = localStorage.getItem("id_User"); // Lấy id_User từ localStorage\
    if (id_User) {
        // Chuyển hướng đến trang infome và truyền id_User trong URL
        window.location.href = `/infome/${id_User}`;
    } else {
        alert("Không tìm thấy id_User trong localStorage.");
    }
  });
</script>
<script>
  $(document).ready(function () {
    $('#NamHoc option[value=""]').remove();
    $('#comboboxki option[value=""]').remove();
    $('#combobox-dot option[value=""]').remove();

    $.ajax({
      url: '/getNamHoc',
      method: 'GET',
      success: function (response) {
        if (response.success) {

          response.NamHoc.forEach(function (item) {
            console.log(item.NamHoc);
            $('#NamHoc').append(
              `<option value="${item.NamHoc}">${item.NamHoc}</option>`
            );
          });

          response.Ki.forEach(function (item) {
            console.log(item.Ki);
            $('#comboboxki').append(
              `<option value="${item.value}">${item.Ki}</option>`
            );
          });
          loadLopMoiData();
        } else {
          console.error("Không lấy được dữ liệu năm học:", response.message);
        }
      },
      error: function (error) {
        console.error("Lỗi khi lấy dữ liệu năm học:", error);
      }
    });
  });
</script>
</script>
<script>
  document.getElementById('infoGvm').addEventListener('click', loadLopMoiData);

  async function loadLopMoiData() {
    const MaPhongBan = localStorage.getItem('MaPhongBan'); // Lấy mã phòng ban từ localStorage
    const Ki = document.getElementById('comboboxki').value;
    const Nam = document.getElementById('NamHoc').value;
    if (!MaPhongBan) {
      alert("Mã phòng ban không tồn tại!");
      return;
    }

    try {
      console.log("Gửi dữ liệu");
      const response = await fetch(`/xemlopgiangday/${MaPhongBan}/${Ki}/${Nam}`, {
        method: 'GET', // Gửi yêu cầu GET
      });
      if (!response.ok) {
        throw new Error(`Error: ${response.status} - ${response.statusText}`);
      }
      const data = await response.json(); // Lấy dữ liệu từ server
      console.log(data);
      if (data.success) {
        if (data.LopGiangDay && data.LopGiangDay.length > 0) {
          console.log('Dữ liệu bộ môn:', data);
          renderTable(data);
        } else {
          alert("Dữ liệu trống!");
        }
      } else {
        alert("Không tìm thấy dữ liệu!");
      }
    } catch (error) {
      console.error('Có lỗi xảy ra khi lấy dữ liệu:', error);
    }
  }

</script>
<script>
  function renderTable(data) {
    const role = localStorage.getItem("userRole");
    const MaPhongBan = localStorage.getItem("MaPhongBan");
    const isKhoa = localStorage.getItem("isKhoa");
    const TenNhanVien = localStorage.getItem("TenNhanVien");
    console.log( TenNhanVien);
    let tableRowData = [];

    const tableBodyA1 = document.getElementById('tableBodyA1');
    tableBodyA1.innerHTML = ''; // Xóa nội dung cũ
    const tableBodyA2 = document.getElementById('tableBodyA2');
    tableBodyA2.innerHTML = ''; // Xóa nội dung cũ
    //let index = -1;
    let filteredData1 = data.LopGiuaKi;
    console.log(filteredData1);
    filteredData1 = data.LopGiuaKi.filter(row => row.GiangVien.trim() === TenNhanVien.trim());
    console.log(filteredData1);
    filteredData1.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const hinhThucKTGiuaKyTd = document.createElement('td');
      hinhThucKTGiuaKyTd.textContent = row.HinhThucKTGiuaKy;
      tableRow.appendChild(hinhThucKTGiuaKyTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const soSVTd = document.createElement('td');
      soSVTd.textContent = row.SoSV;
      tableRow.appendChild(soSVTd);
      //
      const soDeTd = document.createElement('td');
      soDeTd.textContent = row.SoDe;
      tableRow.appendChild(soDeTd);
      //
      const soTietKT = document.createElement('td');
      soTietKT.textContent = row.SoTietKT;
      tableRow.appendChild(soTietKT);

      tableBodyA2.appendChild(tableRow);
    });

    let filteredData = data.LopGiangDay;
    filteredData = data.LopGiangDay.filter(row => row.GiangVien.trim() === TenNhanVien.trim());
    filteredData.forEach((row, index) => {

      const tableRow = document.createElement('tr');

      // Thêm id vào dữ liệu row để lưu trữ
      let rowWithId = {
        id: index,
        ...row
      };
      tableRowData.push(rowWithId);

      tableRow.setAttribute("data-id", row.MaGiangDay);

      //
      const ttTd = document.createElement('td');
      ttTd.textContent = index +1;
      tableRow.appendChild(ttTd);
      //
      const tenHocPhanTd = document.createElement('td');
      tenHocPhanTd.textContent = row.TenHocPhan;
      tableRow.appendChild(tenHocPhanTd);
      //
      const soTCTd = document.createElement('td');
      soTCTd.textContent = row.SoTC;
      tableRow.appendChild(soTCTd);
      //
      const lopTd = document.createElement('td');
      lopTd.textContent = row.Lop;
      tableRow.appendChild(lopTd);
      //
      const lenLopTd = document.createElement('td');
      lenLopTd.textContent = row.LenLop;
      tableRow.appendChild(lenLopTd);
      //
      const quyChuanTd = document.createElement('td');
      quyChuanTd.textContent = row.QuyChuan;
      tableRow.appendChild(quyChuanTd);
      //
      const sourceTd = document.createElement('td');
      sourceTd.textContent = row.source;
      tableRow.appendChild(sourceTd);

      tableBodyA1.appendChild(tableRow);
    });
    // Lưu dữ liệu với id vào localStorage
    localStorage.setItem('tableData', JSON.stringify(tableRowData));
    calculatetotalGiangDay();
  }

</script>
<script>
  // tổng quy chuẩn
  function calculatetotalGiangDay() {
  let totalGiangDay = 0;
  let totalSoTietKT = 0;

  // Lấy tất cả các hàng dữ liệu trong bảng
  const rows = document.querySelectorAll('#tableBodyA1 tr');
  const rows1 = document.querySelectorAll('#tableBodyA2 tr');

  rows.forEach(row => {
    // Kiểm tra nếu dòng có chứa giá trị `totalGiangDay`
    const totalGiangDayTd = row.querySelector('td:nth-last-child(2)'); // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    if (totalGiangDayTd) {
      const totalGiangDayValue = parseFloat(totalGiangDayTd.textContent.trim());
      if (!isNaN(totalGiangDayValue)) {
        totalGiangDay += totalGiangDayValue;
      }
    }
  });

  // Hiển thị tổng số tiết kiểm tra trong một phần tử có id `totalGiangDay`
  const totalGiangDayElement = document.getElementById('totalGiangDay');
  if (totalGiangDayElement) {
    totalGiangDayElement.textContent = totalGiangDay.toFixed(2); // Định dạng 2 chữ số thập phân
  }

  //Tính tổng số tiết kiểm tra giữa kì 
  rows1.forEach(row => {
    // Kiểm tra nếu dòng có chứa giá trị `totalGiangDay`
    const totalSoTietKTTd = row.querySelector('td:nth-last-child(1)'); // Lấy ô cột số tiết kiểm tra (vị trí trước 2 ô cuối)
    if (totalSoTietKTTd) {
      const totalSoTietKTValue = parseFloat(totalSoTietKTTd.textContent.trim());
      if (!isNaN(totalSoTietKTValue)) {
        totalSoTietKT += totalSoTietKTValue;
      }
    }
  });

  // Hiển thị tổng số tiết kiểm tra trong một phần tử có id `totalSoTietKTTd`
  const totalSoTietKTElement = document.getElementById('totalSoTietKT');
  if (totalSoTietKTElement) {
    totalSoTietKTElement.textContent = totalSoTietKT.toFixed(2); // Định dạng 2 chữ số thập phân
  }
}
</script>
</body>
</html>

